body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: bisque;
}

h1{
    font-size: 50px;
   letter-spacing: 3px;
   text-shadow: 2px 4px 8px rgba(133, 22, 22, 0.7) ;
   white-space: nowrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


   .btn {
  padding: 30px 50px;
  background-color: white;
  border: none;
  margin: 10px;
  font-size: 30px;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
background:url(images/crash.png);
background-size: cover;
color:white;
cursor: pointer;
font-family: 'cursive';
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
text-transform: capitalize;
}

.btn:hover {
    color:pink;
}

.btn:active {
    background-size: 140%;
}